.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-links .btn {
  margin: 0 10px;
  padding: 5px 15px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

  .navbar-links .btn:hover {
    background-color: #777;
  }

.content {
  padding: 20px;
}
